* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

nav {
    background-color: #f03838;
    color: white;
    padding: 10px;
    display: flex;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-right: 30px;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    background-color: white;
    border-radius: 10px;
}

nav a:hover {
    background-color: rgb(250, 174, 174);
    transition: ease-in-out 0.2s;
}

main {
    padding: 20px;
}

aside {
    display: flex;
    
}